body{
background-color: #FFF9E7;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.heading-title{
    text-align: center;
    font-size: 48px;
    display: block;
    padding: 20px;
}
img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
}